In [264]:
import pandas as pd
import numpy as np

In [265]:
data = pd.read_csv("C:\\Users\\Jyopc\Desktop\\Jupyter\\data cleaning and transforming\\archive\\fifa21 raw data v2.csv",
                   engine='python',encoding='UTF-8')

In [266]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 77 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                18979 non-null  int64
 1   Name              18979 non-null  object
 2   LongName          18979 non-null  object
 3   photoUrl          18979 non-null  object
 4   playerUrl         18979 non-null  object
 5   Nationality       18979 non-null  object
 6   Age               18979 non-null  int64
 7   ↓OVA              18979 non-null  int64
 8   POT               18979 non-null  int64
 9   Club              18979 non-null  object
 10  Contract          18979 non-null  object
 11  Positions         18979 non-null  object
 12  Height            18979 non-null  object
 13  Weight            18979 non-null  object
 14  Preferred Foot    18979 non-null  object
 15  BOV               18979 non-null  int64
 16  Best Position     18979 non-null  object
 17  Joined            18979 non-null  object
 18  Loan Date End     1013 non-null   object
 19  Value             18979 non-null  object
 20  Wage              18979 non-null  object
 21  Release Clause    18979 non-null  object
 22  Attacking         18979 non-null  int64
 23  Crossing          18979 non-null  int64
 24  Finishing         18979 non-null  int64
 25  Heading Accuracy  18979 non-null  int64
 26  Short Passing     18979 non-null  int64
 27  Volleys           18979 non-null  int64
 28  Skill             18979 non-null  int64
 29  Dribbling         18979 non-null  int64
 30  Curve             18979 non-null  int64
 31  FK Accuracy       18979 non-null  int64
 32  Long Passing      18979 non-null  int64
 33  Ball Control      18979 non-null  int64
 34  Movement          18979 non-null  int64
 35  Acceleration      18979 non-null  int64
 36  Sprint Speed      18979 non-null  int64
 37  Agility           18979 non-null  int64
 38  Reactions         18979 non-null  int64
 39  Balance           18979 non-null  int64
 40  Power             18979 non-null  int64
 41  Shot Power        18979 non-null  int64
 42  Jumping           18979 non-null  int64
 43  Stamina           18979 non-null  int64
 44  Strength          18979 non-null  int64
 45  Long Shots        18979 non-null  int64
 46  Mentality         18979 non-null  int64
 47  Aggression        18979 non-null  int64
 48  Interceptions     18979 non-null  int64
 49  Positioning       18979 non-null  int64
 50  Vision            18979 non-null  int64
 51  Penalties         18979 non-null  int64
 52  Composure         18979 non-null  int64
 53  Defending         18979 non-null  int64
 54  Marking           18979 non-null  int64
 55  Standing Tackle   18979 non-null  int64
 56  Sliding Tackle    18979 non-null  int64
 57  Goalkeeping       18979 non-null  int64
 58  GK Diving         18979 non-null  int64
 59  GK Handling       18979 non-null  int64
 60  GK Kicking        18979 non-null  int64
 61  GK Positioning    18979 non-null  int64
 62  GK Reflexes       18979 non-null  int64
 63  Total Stats       18979 non-null  int64
 64  Base Stats        18979 non-null  int64
 65  W/F               18979 non-null  object
 66  SM                18979 non-null  object
 67  A/W               18979 non-null  object
 68  D/W               18979 non-null  object
 69  IR                18979 non-null  object
 70  PAC               18979 non-null  int64
 71  SHO               18979 non-null  int64
 72  PAS               18979 non-null  int64
 73  DRI               18979 non-null  int64
 74  DEF               18979 non-null  int64
 75  PHY               18979 non-null  int64
 76  Hits              16384 non-null  object
dtypes: int64(54), object(23)
memory usage: 11.1+ MB

## Creating 2 Tables

In [267]:
player_details = pd.DataFrame(data,columns=['ID','Name','Nationality','Club','Age','↓OVA','POT','Contract','Best Position',
                                          'Height','Weight','Preferred Foot','Joined','Value','Wage','W/F','SM'])
player_abilities = pd.DataFrame(data,columns=['ID','Ball Control','Dribbling','Acceleration','Stamina','Strength','Balance',
                                             'Sprint Speed','Agility','Jumping','Marking','Sliding Tackle','Standing Tackle',
                                             'Defending','Goalkeeping','GK Diving','GK Handling','GK Kicking','GK Positioning',
                                              'GK Reflexes','Aggression','Reactions','Positioning','Vision','Interceptions',
                                             'Composure','Jumping','Heading Accuracy','Shot Power','Finishing','Long Shots',
                                             'Curve','FK Accuracy','Penalties','Volleys','Crossing','Short Passing',
                                              'Long Passing','PAC','SHO','PAS','DRI','DEF','PHY','Hits'])

In [268]:
player_abilities.head()

,ID,Ball Control,Dribbling,Acceleration,Stamina,Strength,Balance,Sprint Speed,Agility,Jumping,...,Crossing,Short Passing,Long Passing,PAC,SHO,PAS,DRI,DEF,PHY,Hits
0,158023,96,96,91,72,69,95,80,91,68,...,85,91,91,85,92,91,95,38,65,771
1,20801,92,88,87,84,78,71,91,87,95,...,84,82,77,89,93,81,89,35,77,562
2,200389,30,12,43,41,78,49,60,67,78,...,13,43,40,87,92,78,90,52,90,150
3,192985,92,88,77,89,74,76,76,78,63,...,94,94,93,76,86,93,88,64,78,207
4,190871,95,95,94,81,50,83,89,96,62,...,85,87,81,91,85,86,94,36,59,595

## Making Index starts from 1

In [269]:
# player_details.index=np.arange(1,len(player_details)+1)
# player_abilities.index=np.arange(1,len(player_abilities)+1)

In [270]:
player_abilities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 45 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                18979 non-null  int64
 1   Ball Control      18979 non-null  int64
 2   Dribbling         18979 non-null  int64
 3   Acceleration      18979 non-null  int64
 4   Stamina           18979 non-null  int64
 5   Strength          18979 non-null  int64
 6   Balance           18979 non-null  int64
 7   Sprint Speed      18979 non-null  int64
 8   Agility           18979 non-null  int64
 9   Jumping           18979 non-null  int64
 10  Marking           18979 non-null  int64
 11  Sliding Tackle    18979 non-null  int64
 12  Standing Tackle   18979 non-null  int64
 13  Defending         18979 non-null  int64
 14  Goalkeeping       18979 non-null  int64
 15  GK Diving         18979 non-null  int64
 16  GK Handling       18979 non-null  int64
 17  GK Kicking        18979 non-null  int64
 18  GK Positioning    18979 non-null  int64
 19  GK Reflexes       18979 non-null  int64
 20  Aggression        18979 non-null  int64
 21  Reactions         18979 non-null  int64
 22  Positioning       18979 non-null  int64
 23  Vision            18979 non-null  int64
 24  Interceptions     18979 non-null  int64
 25  Composure         18979 non-null  int64
 26  Jumping           18979 non-null  int64
 27  Heading Accuracy  18979 non-null  int64
 28  Shot Power        18979 non-null  int64
 29  Finishing         18979 non-null  int64
 30  Long Shots        18979 non-null  int64
 31  Curve             18979 non-null  int64
 32  FK Accuracy       18979 non-null  int64
 33  Penalties         18979 non-null  int64
 34  Volleys           18979 non-null  int64
 35  Crossing          18979 non-null  int64
 36  Short Passing     18979 non-null  int64
 37  Long Passing      18979 non-null  int64
 38  PAC               18979 non-null  int64
 39  SHO               18979 non-null  int64
 40  PAS               18979 non-null  int64
 41  DRI               18979 non-null  int64
 42  DEF               18979 non-null  int64
 43  PHY               18979 non-null  int64
 44  Hits              16384 non-null  object
dtypes: int64(44), object(1)
memory usage: 6.5+ MB

## Renaming Columns

In [271]:
player_details.rename(columns={'↓OVA':'OVA','POT':'Potential','W/F':'Weak Foot','SM':'Skill Move'},inplace=True)
player_abilities.rename(columns={'Hits':'Shots'},inplace=True)

In [272]:
player_details.head()

,ID,Name,Nationality,Club,Age,OVA,Potential,Contract,Best Position,Height,Weight,Preferred Foot,Joined,Value,Wage,Weak Foot,Skill Move
0,158023,L. Messi,Argentina,\n\n\n\nFC Barcelona,33,93,93,2004 ~ 2021,RW,170cm,72kg,Left,"Jul 1, 2004",€103.5M,€560K,4 ★,4★
1,20801,Cristiano Ronaldo,Portugal,\n\n\n\nJuventus,35,92,92,2018 ~ 2022,ST,187cm,83kg,Right,"Jul 10, 2018",€63M,€220K,4 ★,5★
2,200389,J. Oblak,Slovenia,\n\n\n\nAtlético Madrid,27,91,93,2014 ~ 2023,GK,188cm,87kg,Right,"Jul 16, 2014",€120M,€125K,3 ★,1★
3,192985,K. De Bruyne,Belgium,\n\n\n\nManchester City,29,91,91,2015 ~ 2023,CAM,181cm,70kg,Right,"Aug 30, 2015",€129M,€370K,5 ★,4★
4,190871,Neymar Jr,Brazil,\n\n\n\nParis Saint-Germain,28,91,91,2017 ~ 2022,LW,175cm,68kg,Right,"Aug 3, 2017",€132M,€270K,5 ★,5★

## changing datatype of joined to datetime

In [273]:
player_details.Joined.head()

0     Jul 1, 2004
1    Jul 10, 2018
2    Jul 16, 2014
3    Aug 30, 2015
4     Aug 3, 2017
Name: Joined, dtype: object

In [274]:
def convert_month(x):
    if x == 'Jan':
        return 1
    elif x == 'Feb':
        return 2
    elif x == 'Mar':
        return 3
    elif x == 'Apr':
        return 4
    elif x == 'May':
        return 5
    elif x == 'Jun':
        return 6
    elif x == 'Jul':
        return 7
    elif x == 'Aug':
        return 8
    elif x == 'Sep':
        return 9
    elif x == 'Oct':
        return 10
    elif x == 'Nov':
        return 11
    elif x == 'Dec':
        return 12



  ***function to change datetime***

In [275]:
date = []
for x in range(len(player_details['Joined'])):
    d = player_details['Joined'][x]
    c = d.split(" ")
    month = str(convert_month(c[0]))
    day = str(c[1].replace(',',''))
    year = str(c[2])
    if len(day) == 1:
        day = ('0'+str(day))
    date_long = (str(month)+'/'+str(day)+'/'+str(year))
    date_con = pd.to_datetime(date_long)
    date.append(date_con)
player_details['Joined'] = date
player_details['Joined']

0       2004-07-01
1       2018-07-10
2       2014-07-16
3       2015-08-30
4       2017-08-03
           ...
18974   2018-07-13
18975   2020-08-01
18976   2019-03-08
18977   2020-09-22
18978   2019-07-29
Name: Joined, Length: 18979, dtype: datetime64[ns]

### removing null values

In [276]:
player_abilities.isnull().sum()

ID                     0
Ball Control           0
Dribbling              0
Acceleration           0
Stamina                0
Strength               0
Balance                0
Sprint Speed           0
Agility                0
Jumping                0
Marking                0
Sliding Tackle         0
Standing Tackle        0
Defending              0
Goalkeeping            0
GK Diving              0
GK Handling            0
GK Kicking             0
GK Positioning         0
GK Reflexes            0
Aggression             0
Reactions              0
Positioning            0
Vision                 0
Interceptions          0
Composure              0
Jumping                0
Heading Accuracy       0
Shot Power             0
Finishing              0
Long Shots             0
Curve                  0
FK Accuracy            0
Penalties              0
Volleys                0
Crossing               0
Short Passing          0
Long Passing           0
PAC                    0
SHO                    0
PAS                    0
DRI                    0
DEF                    0
PHY                    0
Shots               2595
dtype: int64

In [277]:
player_abilities['Shots'] = player_abilities['Shots'].fillna('0')

In [278]:
player_abilities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 45 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                18979 non-null  int64
 1   Ball Control      18979 non-null  int64
 2   Dribbling         18979 non-null  int64
 3   Acceleration      18979 non-null  int64
 4   Stamina           18979 non-null  int64
 5   Strength          18979 non-null  int64
 6   Balance           18979 non-null  int64
 7   Sprint Speed      18979 non-null  int64
 8   Agility           18979 non-null  int64
 9   Jumping           18979 non-null  int64
 10  Marking           18979 non-null  int64
 11  Sliding Tackle    18979 non-null  int64
 12  Standing Tackle   18979 non-null  int64
 13  Defending         18979 non-null  int64
 14  Goalkeeping       18979 non-null  int64
 15  GK Diving         18979 non-null  int64
 16  GK Handling       18979 non-null  int64
 17  GK Kicking        18979 non-null  int64
 18  GK Positioning    18979 non-null  int64
 19  GK Reflexes       18979 non-null  int64
 20  Aggression        18979 non-null  int64
 21  Reactions         18979 non-null  int64
 22  Positioning       18979 non-null  int64
 23  Vision            18979 non-null  int64
 24  Interceptions     18979 non-null  int64
 25  Composure         18979 non-null  int64
 26  Jumping           18979 non-null  int64
 27  Heading Accuracy  18979 non-null  int64
 28  Shot Power        18979 non-null  int64
 29  Finishing         18979 non-null  int64
 30  Long Shots        18979 non-null  int64
 31  Curve             18979 non-null  int64
 32  FK Accuracy       18979 non-null  int64
 33  Penalties         18979 non-null  int64
 34  Volleys           18979 non-null  int64
 35  Crossing          18979 non-null  int64
 36  Short Passing     18979 non-null  int64
 37  Long Passing      18979 non-null  int64
 38  PAC               18979 non-null  int64
 39  SHO               18979 non-null  int64
 40  PAS               18979 non-null  int64
 41  DRI               18979 non-null  int64
 42  DEF               18979 non-null  int64
 43  PHY               18979 non-null  int64
 44  Shots             18979 non-null  object
dtypes: int64(44), object(1)
memory usage: 6.5+ MB

## change datatype of shots and remove k values and multiply it with 1000

In [279]:
def shot_on_target(x):
    if 'K' in x:
        x = x.replace('K','') 
        x = float(x)*1000
        return x
    else:
        return x
player_abilities['Shots'] = player_abilities['Shots'].apply(shot_on_target)

In [280]:
player_abilities['Shots'] = player_abilities['Shots'].astype('int64')

In [281]:
player_abilities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 45 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                18979 non-null  int64
 1   Ball Control      18979 non-null  int64
 2   Dribbling         18979 non-null  int64
 3   Acceleration      18979 non-null  int64
 4   Stamina           18979 non-null  int64
 5   Strength          18979 non-null  int64
 6   Balance           18979 non-null  int64
 7   Sprint Speed      18979 non-null  int64
 8   Agility           18979 non-null  int64
 9   Jumping           18979 non-null  int64
 10  Marking           18979 non-null  int64
 11  Sliding Tackle    18979 non-null  int64
 12  Standing Tackle   18979 non-null  int64
 13  Defending         18979 non-null  int64
 14  Goalkeeping       18979 non-null  int64
 15  GK Diving         18979 non-null  int64
 16  GK Handling       18979 non-null  int64
 17  GK Kicking        18979 non-null  int64
 18  GK Positioning    18979 non-null  int64
 19  GK Reflexes       18979 non-null  int64
 20  Aggression        18979 non-null  int64
 21  Reactions         18979 non-null  int64
 22  Positioning       18979 non-null  int64
 23  Vision            18979 non-null  int64
 24  Interceptions     18979 non-null  int64
 25  Composure         18979 non-null  int64
 26  Jumping           18979 non-null  int64
 27  Heading Accuracy  18979 non-null  int64
 28  Shot Power        18979 non-null  int64
 29  Finishing         18979 non-null  int64
 30  Long Shots        18979 non-null  int64
 31  Curve             18979 non-null  int64
 32  FK Accuracy       18979 non-null  int64
 33  Penalties         18979 non-null  int64
 34  Volleys           18979 non-null  int64
 35  Crossing          18979 non-null  int64
 36  Short Passing     18979 non-null  int64
 37  Long Passing      18979 non-null  int64
 38  PAC               18979 non-null  int64
 39  SHO               18979 non-null  int64
 40  PAS               18979 non-null  int64
 41  DRI               18979 non-null  int64
 42  DEF               18979 non-null  int64
 43  PHY               18979 non-null  int64
 44  Shots             18979 non-null  int64
dtypes: int64(45)
memory usage: 6.5 MB

In [282]:
player_abilities['Shots'].head(10)

0     771
1     562
2     150
3     207
4     595
5     248
6     246
7     120
8    1600
9     130
Name: Shots, dtype: int64

In [283]:
player_details.head()

,ID,Name,Nationality,Club,Age,OVA,Potential,Contract,Best Position,Height,Weight,Preferred Foot,Joined,Value,Wage,Weak Foot,Skill Move
0,158023,L. Messi,Argentina,\n\n\n\nFC Barcelona,33,93,93,2004 ~ 2021,RW,170cm,72kg,Left,2004-07-01,€103.5M,€560K,4 ★,4★
1,20801,Cristiano Ronaldo,Portugal,\n\n\n\nJuventus,35,92,92,2018 ~ 2022,ST,187cm,83kg,Right,2018-07-10,€63M,€220K,4 ★,5★
2,200389,J. Oblak,Slovenia,\n\n\n\nAtlético Madrid,27,91,93,2014 ~ 2023,GK,188cm,87kg,Right,2014-07-16,€120M,€125K,3 ★,1★
3,192985,K. De Bruyne,Belgium,\n\n\n\nManchester City,29,91,91,2015 ~ 2023,CAM,181cm,70kg,Right,2015-08-30,€129M,€370K,5 ★,4★
4,190871,Neymar Jr,Brazil,\n\n\n\nParis Saint-Germain,28,91,91,2017 ~ 2022,LW,175cm,68kg,Right,2017-08-03,€132M,€270K,5 ★,5★

### removing \n from club

In [284]:
def invalid_format(x):
    if '\n\n\n\n' in x:
        y = x.replace('\n\n\n\n','')
        return y
    else:
        return x



player_details['Club'] = player_details['Club'].apply(invalid_format)

In [285]:
player_details['Club'].tail(30)

18949                       Shanghai SIPG FC
18950                             Finn Harps
18951                     Milton Keynes Dons
18952                Independiente del Valle
18953                       Dalian YiFang FC
18954                       Guangzhou R&F FC
18955          Shanghai Greenland Shenhua FC
18956    Chongqing Dangdai Lifan FC SWM Team
18957                  Qingdao Huanghai F.C.
18958                          Leyton Orient
18959                     Milton Keynes Dons
18960                         Fleetwood Town
18961                    Sheffield Wednesday
18962                         Deportivo Cali
18963                       Doncaster Rovers
18964                              Junior FC
18965          Shijiazhuang Ever Bright F.C.
18966                        Tianjin TEDA FC
18967          Shijiazhuang Ever Bright F.C.
18968                       Shanghai SIPG FC
18969                        Tianjin TEDA FC
18970                       Guangzhou R&F FC
18971                           Club Bolívar
18972    Chongqing Dangdai Lifan FC SWM Team
18973                        Oldham Athletic
18974                             Wuhan Zall
18975                        Oldham Athletic
18976                             Derry City
18977                       Dalian YiFang FC
18978                       Dalian YiFang FC
Name: Club, dtype: object

### change contract column status to ACTIVE, LOAN, FREE

In [286]:
player_details.Contract.unique()

array(['2004 ~ 2021', '2018 ~ 2022', '2014 ~ 2023', '2015 ~ 2023',
       '2017 ~ 2022', '2017 ~ 2023', '2018 ~ 2024', '2014 ~ 2022',
       '2018 ~ 2023', '2016 ~ 2023', '2013 ~ 2023', '2011 ~ 2023',
       '2009 ~ 2022', '2005 ~ 2021', '2011 ~ 2021', '2015 ~ 2022',
       '2017 ~ 2024', '2010 ~ 2024', '2012 ~ 2021', '2019 ~ 2024',
       '2015 ~ 2024', '2017 ~ 2025', '2020 ~ 2025', '2019 ~ 2023',
       '2008 ~ 2023', '2015 ~ 2021', '2020 ~ 2022', '2012 ~ 2022',
       '2016 ~ 2025', '2013 ~ 2022', '2011 ~ 2022', '2012 ~ 2024',
       '2016 ~ 2021', '2012 ~ 2023', '2008 ~ 2022', '2019 ~ 2022',
       '2017 ~ 2021', '2013 ~ 2024', '2020 ~ 2024', '2010 ~ 2022',
       '2020 ~ 2021', '2011 ~ 2024', '2020 ~ 2023', '2014 ~ 2024',
       '2013 ~ 2026', '2016 ~ 2022', '2010 ~ 2021', '2013 ~ 2021',
       '2019 ~ 2025', '2018 ~ 2025', '2016 ~ 2024', '2018 ~ 2021',
       '2009 ~ 2024', '2007 ~ 2022', 'Jun 30, 2021 On Loan',
       '2009 ~ 2021', '2019 ~ 2021', '2019 ~ 2026', 'Free', '2012 ~ 2028',
       '2010 ~ 2023', '2014 ~ 2021', '2015 ~ 2025', '2014 ~ 2026',
       '2012 ~ 2025', '2017 ~ 2020', '2002 ~ 2022', '2020 ~ 2027',
       '2013 ~ 2025', 'Dec 31, 2020 On Loan', '2019 ~ 2020',
       '2011 ~ 2025', '2016 ~ 2020', '2007 ~ 2021', '2020 ~ 2026',
       '2010 ~ 2025', '2009 ~ 2023', '2008 ~ 2021', '2020 ~ 2020',
       '2016 ~ 2026', 'Jan 30, 2021 On Loan', '2012 ~ 2020',
       '2014 ~ 2025', 'Jun 30, 2022 On Loan', '2015 ~ 2020',
       'May 31, 2021 On Loan', '2018 ~ 2020', '2014 ~ 2020',
       '2013 ~ 2020', '2006 ~ 2024', 'Jul 5, 2021 On Loan',
       'Dec 31, 2021 On Loan', '2004 ~ 2025', '2011 ~ 2020',
       'Jul 1, 2021 On Loan', 'Jan 1, 2021 On Loan', '2006 ~ 2023',
       'Aug 31, 2021 On Loan', '2006 ~ 2021', '2005 ~ 2023',
       '2003 ~ 2020', '2009 ~ 2020', '2002 ~ 2020', '2005 ~ 2020',
       '2005 ~ 2022', 'Jan 31, 2021 On Loan', '2010 ~ 2020',
       'Dec 30, 2021 On Loan', '2008 ~ 2020', '2007 ~ 2020',
       '2003 ~ 2021', 'Jun 23, 2021 On Loan', 'Jan 3, 2021 On Loan',
       'Nov 27, 2021 On Loan', '2002 ~ 2021', 'Jan 17, 2021 On Loan',
       'Jun 30, 2023 On Loan', '1998 ~ 2021', '2003 ~ 2022',
       '2007 ~ 2023', 'Jul 31, 2021 On Loan', 'Nov 22, 2020 On Loan',
       'May 31, 2022 On Loan', '2006 ~ 2020', 'Dec 30, 2020 On Loan',
       '2007 ~ 2025', 'Jan 4, 2021 On Loan', 'Nov 30, 2020 On Loan',
       '2004 ~ 2020', '2009 ~ 2025', 'Aug 1, 2021 On Loan'], dtype=object)

In [287]:
def contract_length(a):
    if "On Loan" in a:
        a = 'ON LOAN'
        return a
    elif '~' in a:
        a = 'ACTIVE'
        return a
    elif 'Free' in a:
        a = "FREE"
        return a


player_details['Contract'] = player_details['Contract'].apply(contract_length)

In [288]:
player_details.Contract.unique()

array(['ACTIVE', 'ON LOAN', 'FREE'], dtype=object)

In [289]:
player_details.head()

,ID,Name,Nationality,Club,Age,OVA,Potential,Contract,Best Position,Height,Weight,Preferred Foot,Joined,Value,Wage,Weak Foot,Skill Move
0,158023,L. Messi,Argentina,FC Barcelona,33,93,93,ACTIVE,RW,170cm,72kg,Left,2004-07-01,€103.5M,€560K,4 ★,4★
1,20801,Cristiano Ronaldo,Portugal,Juventus,35,92,92,ACTIVE,ST,187cm,83kg,Right,2018-07-10,€63M,€220K,4 ★,5★
2,200389,J. Oblak,Slovenia,Atlético Madrid,27,91,93,ACTIVE,GK,188cm,87kg,Right,2014-07-16,€120M,€125K,3 ★,1★
3,192985,K. De Bruyne,Belgium,Manchester City,29,91,91,ACTIVE,CAM,181cm,70kg,Right,2015-08-30,€129M,€370K,5 ★,4★
4,190871,Neymar Jr,Brazil,Paris Saint-Germain,28,91,91,ACTIVE,LW,175cm,68kg,Right,2017-08-03,€132M,€270K,5 ★,5★

#### change wage into int and remove k and euro sign

In [290]:
player_details.Wage.unique()

array(['€560K', '€220K', '€125K', '€370K', '€270K', '€240K', '€250K',
       '€160K', '€260K', '€210K', '€310K', '€130K', '€350K', '€300K',
       '€190K', '€145K', '€195K', '€100K', '€140K', '€290K', '€82K',
       '€110K', '€230K', '€155K', '€200K', '€165K', '€95K', '€170K',
       '€105K', '€115K', '€150K', '€135K', '€55K', '€58K', '€81K', '€34K',
       '€120K', '€59K', '€90K', '€65K', '€56K', '€71K', '€18K', '€75K',
       '€47K', '€20K', '€84K', '€86K', '€74K', '€78K', '€27K', '€68K',
       '€85K', '€25K', '€46K', '€83K', '€54K', '€79K', '€175K', '€43K',
       '€49K', '€45K', '€38K', '€41K', '€39K', '€23K', '€51K', '€50K',
       '€87K', '€30K', '€14K', '€69K', '€31K', '€64K', '€53K', '€35K',
       '€21K', '€28K', '€17K', '€33K', '€70K', '€32K', '€89K', '€26K',
       '€40K', '€76K', '€72K', '€48K', '€36K', '€29K', '€60K', '€16K',
       '€37K', '€24K', '€52K', '€0', '€62K', '€73K', '€63K', '€19K',
       '€1K', '€66K', '€80K', '€12K', '€2K', '€42K', '€13K', '€900',
       '€57K', '€77K', '€61K', '€22K', '€67K', '€44K', '€15K', '€11K',
       '€8K', '€850', '€10K', '€88K', '€500', '€7K', '€6K', '€9K', '€5K',
       '€700', '€950', '€750', '€3K', '€650', '€600', '€4K', '€800',
       '€550'], dtype=object)

In [291]:
def wage_change(x):
    if 'K' in x:
        x = x.replace('K','')
        x = x.replace('€','')
        x = int(x)*1000
        return x
    else:
        x = x.replace('€','')
            
        return x
        

        
player_details['Wage'] = player_details['Wage'].apply(wage_change)

In [292]:
player_details.Wage.unique()

array([560000, 220000, 125000, 370000, 270000, 240000, 250000, 160000,
       260000, 210000, 310000, 130000, 350000, 300000, 190000, 145000,
       195000, 100000, 140000, 290000, 82000, 110000, 230000, 155000,
       200000, 165000, 95000, 170000, 105000, 115000, 150000, 135000,
       55000, 58000, 81000, 34000, 120000, 59000, 90000, 65000, 56000,
       71000, 18000, 75000, 47000, 20000, 84000, 86000, 74000, 78000,
       27000, 68000, 85000, 25000, 46000, 83000, 54000, 79000, 175000,
       43000, 49000, 45000, 38000, 41000, 39000, 23000, 51000, 50000,
       87000, 30000, 14000, 69000, 31000, 64000, 53000, 35000, 21000,
       28000, 17000, 33000, 70000, 32000, 89000, 26000, 40000, 76000,
       72000, 48000, 36000, 29000, 60000, 16000, 37000, 24000, 52000, '0',
       62000, 73000, 63000, 19000, 1000, 66000, 80000, 12000, 2000, 42000,
       13000, '900', 57000, 77000, 61000, 22000, 67000, 44000, 15000,
       11000, 8000, '850', 10000, 88000, '500', 7000, 6000, 9000, 5000,
       '700', '950', '750', 3000, '650', '600', 4000, '800', '550'],
      dtype=object)

In [293]:
player_details['Wage'] = player_details['Wage'].astype('int64')

In [294]:
player_details = player_details.rename(columns={'Wage':'Wage €'})

In [295]:
player_details.head()

,ID,Name,Nationality,Club,Age,OVA,Potential,Contract,Best Position,Height,Weight,Preferred Foot,Joined,Value,Wage €,Weak Foot,Skill Move
0,158023,L. Messi,Argentina,FC Barcelona,33,93,93,ACTIVE,RW,170cm,72kg,Left,2004-07-01,€103.5M,560000,4 ★,4★
1,20801,Cristiano Ronaldo,Portugal,Juventus,35,92,92,ACTIVE,ST,187cm,83kg,Right,2018-07-10,€63M,220000,4 ★,5★
2,200389,J. Oblak,Slovenia,Atlético Madrid,27,91,93,ACTIVE,GK,188cm,87kg,Right,2014-07-16,€120M,125000,3 ★,1★
3,192985,K. De Bruyne,Belgium,Manchester City,29,91,91,ACTIVE,CAM,181cm,70kg,Right,2015-08-30,€129M,370000,5 ★,4★
4,190871,Neymar Jr,Brazil,Paris Saint-Germain,28,91,91,ACTIVE,LW,175cm,68kg,Right,2017-08-03,€132M,270000,5 ★,5★

In [296]:
player_details.Value.unique()

array(['€103.5M', '€63M', '€120M', '€129M', '€132M', '€111M', '€120.5M',
       '€102M', '€185.5M', '€110M', '€113M', '€90.5M', '€82M', '€17.5M',
       '€83.5M', '€33.5M', '€114.5M', '€78M', '€103M', '€109M', '€92M',
       '€10M', '€76.5M', '€89.5M', '€87.5M', '€79.5M', '€124M', '€114M',
       '€95M', '€92.5M', '€105.5M', '€88.5M', '€85M', '€81.5M', '€26M',
       '€21M', '€56M', '€67.5M', '€53M', '€36.5M', '€51M', '€65.5M',
       '€46.5M', '€61.5M', '€72.5M', '€77.5M', '€43.5M', '€32.5M', '€36M',
       '€32M', '€54M', '€49.5M', '€57M', '€66.5M', '€74.5M', '€71.5M',
       '€121M', '€99M', '€67M', '€86.5M', '€93.5M', '€70M', '€62M',
       '€66M', '€58M', '€44M', '€81M', '€37M', '€14.5M', '€46M', '€47.5M',
       '€52.5M', '€54.5M', '€34.5M', '€57.5M', '€51.5M', '€44.5M', '€55M',
       '€48M', '€60.5M', '€63.5M', '€61M', '€29M', '€58.5M', '€55.5M',
       '€42M', '€40.5M', '€43M', '€45.5M', '€34M', '€26.5M', '€42.5M',
       '€35.5M', '€45M', '€41.5M', '€40M', '€11M', '€13.5M', '€29.5M',
       '€27M', '€15.5M', '€38.5M', '€52M', '€33M', '€19M', '€73.5M',
       '€38M', '€35M', '€47M', '€24M', '€30.5M', '€18M', '€28M', '€25.5M',
       '€25M', '€31M', '€23.5M', '€30M', '€31.5M', '€22.5M', '€28.5M',
       '€4M', '€12.5M', '€37.5M', '€27.5M', '€16M', '€15M', '€20.5M',
       '€22M', '€3.4M', '€5M', '€56.5M', '€62.5M', '€0', '€39M', '€24.5M',
       '€21.5M', '€13M', '€8M', '€20M', '€8.5M', '€2.9M', '€9M', '€4.6M',
       '€50M', '€23M', '€18.5M', '€7M', '€19.5M', '€5.5M', '€7.5M',
       '€3.8M', '€14M', '€10.5M', '€16.5M', '€3.6M', '€9.5M', '€39.5M',
       '€17M', '€12M', '€11.5M', '€4.9M', '€3M', '€1.9M', '€6.5M',
       '€1.7M', '€2.4M', '€3.1M', '€6M', '€3.7M', '€4.7M', '€4.3M',
       '€2.1M', '€1.2M', '€1.8M', '€4.8M', '€3.2M', '€1.3M', '€825K',
       '€2.3M', '€1.5M', '€3.9M', '€2.6M', '€3.5M', '€2.8M', '€2.7M',
       '€4.4M', '€4.1M', '€950K', '€1.6M', '€625K', '€1.1M', '€4.5M',
       '€4.2M', '€2.2M', '€3.3M', '€1.4M', '€2M', '€475K', '€925K',
       '€750K', '€725K', '€2.5M', '€1M', '€350K', '€525K', '€600K',
       '€850K', '€800K', '€550K', '€250K', '€400K', '€425K', '€575K',
       '€210K', '€325K', '€900K', '€875K', '€650K', '€700K', '€500K',
       '€975K', '€375K', '€775K', '€275K', '€180K', '€450K', '€675K',
       '€150K', '€240K', '€300K', '€130K', '€220K', '€200K', '€110K',
       '€170K', '€230K', '€90K', '€120K', '€80K', '€190K', '€140K',
       '€160K', '€100K', '€60K', '€50K', '€70K', '€45K', '€35K', '€40K',
       '€25K', '€20K', '€15K', '€30K', '€9K'], dtype=object)

In [297]:
def Value_change(x):
    if 'M' in x:
        x = x.replace('M','')
        x = x.replace('€','')
        x = float(x)*100000
        return x
    elif 'K' in x:
        x = x.replace('K','')
        x = x.replace('€','')
        x = float(x)*1000
        return x
    else:
        x = x.replace('€','')
            
        return x
        

        
player_details['Value'] = player_details['Value'].apply(Value_change)

In [298]:
player_details.Value.unique()

array([10350000.0, 6300000.0, 12000000.0, 12900000.0, 13200000.0,
       11100000.0, 12050000.0, 10200000.0, 18550000.0, 11000000.0,
       11300000.0, 9050000.0, 8200000.0, 1750000.0, 8350000.0, 3350000.0,
       11450000.0, 7800000.0, 10300000.0, 10900000.0, 9200000.0,
       1000000.0, 7650000.0, 8950000.0, 8750000.0, 7950000.0, 12400000.0,
       11400000.0, 9500000.0, 9250000.0, 10550000.0, 8850000.0, 8500000.0,
       8150000.0, 2600000.0, 2100000.0, 5600000.0, 6750000.0, 5300000.0,
       3650000.0, 5100000.0, 6550000.0, 4650000.0, 6150000.0, 7250000.0,
       7750000.0, 4350000.0, 3250000.0, 3600000.0, 3200000.0, 5400000.0,
       4950000.0, 5700000.0, 6650000.0, 7450000.0, 7150000.0, 12100000.0,
       9900000.0, 6700000.0, 8650000.0, 9350000.0, 7000000.0, 6200000.0,
       6600000.0, 5800000.0, 4400000.0, 8100000.0, 3700000.0, 1450000.0,
       4600000.0, 4750000.0, 5250000.0, 5450000.0, 3450000.0, 5750000.0,
       5150000.0, 4450000.0, 5500000.0, 4800000.0, 6050000.0, 6350000.0,
       6100000.0, 2900000.0, 5850000.0, 5550000.0, 4200000.0, 4050000.0,
       4300000.0, 4550000.0, 3400000.0, 2650000.0, 4250000.0, 3550000.0,
       4500000.0, 4150000.0, 4000000.0, 1100000.0, 1350000.0, 2950000.0,
       2700000.0, 1550000.0, 3850000.0, 5200000.0, 3300000.0, 1900000.0,
       7350000.0, 3800000.0, 3500000.0, 4700000.0, 2400000.0, 3050000.0,
       1800000.0, 2800000.0, 2550000.0, 2500000.0, 3100000.0, 2350000.0,
       3000000.0, 3150000.0, 2250000.0, 2850000.0, 400000.0, 1250000.0,
       3750000.0, 2750000.0, 1600000.0, 1500000.0, 2050000.0, 2200000.0,
       340000.0, 500000.0, 5650000.0, 6250000.0, '0', 3900000.0,
       2450000.0, 2150000.0, 1300000.0, 800000.0, 2000000.0, 850000.0,
       290000.0, 900000.0, 459999.99999999994, 5000000.0, 2300000.0,
       1850000.0, 700000.0, 1950000.0, 550000.0, 750000.0, 380000.0,
       1400000.0, 1050000.0, 1650000.0, 360000.0, 950000.0, 3950000.0,
       1700000.0, 1200000.0, 1150000.0, 490000.00000000006, 300000.0,
       190000.0, 650000.0, 170000.0, 240000.0, 310000.0, 600000.0,
       370000.0, 470000.0, 430000.0, 210000.0, 120000.0, 180000.0,
       480000.0, 320000.0, 130000.0, 825000.0, 229999.99999999997,
       150000.0, 390000.0, 260000.0, 350000.0, 280000.0, 270000.0,
       440000.00000000006, 409999.99999999994, 160000.0, 625000.0,
       110000.00000000001, 450000.0, 420000.0, 220000.00000000003,
       330000.0, 140000.0, 200000.0, 475000.0, 925000.0, 725000.0,
       250000.0, 100000.0, 525000.0, 425000.0, 575000.0, 325000.0,
       875000.0, 975000.0, 375000.0, 775000.0, 275000.0, 675000.0,
       220000.0, 110000.0, 230000.0, 90000.0, 80000.0, 60000.0, 50000.0,
       70000.0, 45000.0, 35000.0, 40000.0, 25000.0, 20000.0, 15000.0,
       30000.0, 9000.0], dtype=object)

In [299]:
player_details['Value'] = player_details['Value'].astype('int64')

In [300]:
player_details = player_details.rename(columns={'Value':'Value €'})

In [301]:
player_details.head()

,ID,Name,Nationality,Club,Age,OVA,Potential,Contract,Best Position,Height,Weight,Preferred Foot,Joined,Value €,Wage €,Weak Foot,Skill Move
0,158023,L. Messi,Argentina,FC Barcelona,33,93,93,ACTIVE,RW,170cm,72kg,Left,2004-07-01,10350000,560000,4 ★,4★
1,20801,Cristiano Ronaldo,Portugal,Juventus,35,92,92,ACTIVE,ST,187cm,83kg,Right,2018-07-10,6300000,220000,4 ★,5★
2,200389,J. Oblak,Slovenia,Atlético Madrid,27,91,93,ACTIVE,GK,188cm,87kg,Right,2014-07-16,12000000,125000,3 ★,1★
3,192985,K. De Bruyne,Belgium,Manchester City,29,91,91,ACTIVE,CAM,181cm,70kg,Right,2015-08-30,12900000,370000,5 ★,4★
4,190871,Neymar Jr,Brazil,Paris Saint-Germain,28,91,91,ACTIVE,LW,175cm,68kg,Right,2017-08-03,13200000,270000,5 ★,5★

In [303]:
def remove_star(x):
    x = x.replace('★', '')
    return x

player_details['Weak Foot'] = player_details['Weak Foot'].apply(remove_star)
player_details['Skill Move'] = player_details['Skill Move'].apply(remove_star)

In [304]:
player_details.head()

,ID,Name,Nationality,Club,Age,OVA,Potential,Contract,Best Position,Height,Weight,Preferred Foot,Joined,Value €,Wage €,Weak Foot,Skill Move
0,158023,L. Messi,Argentina,FC Barcelona,33,93,93,ACTIVE,RW,170cm,72kg,Left,2004-07-01,10350000,560000,4,4
1,20801,Cristiano Ronaldo,Portugal,Juventus,35,92,92,ACTIVE,ST,187cm,83kg,Right,2018-07-10,6300000,220000,4,5
2,200389,J. Oblak,Slovenia,Atlético Madrid,27,91,93,ACTIVE,GK,188cm,87kg,Right,2014-07-16,12000000,125000,3,1
3,192985,K. De Bruyne,Belgium,Manchester City,29,91,91,ACTIVE,CAM,181cm,70kg,Right,2015-08-30,12900000,370000,5,4
4,190871,Neymar Jr,Brazil,Paris Saint-Germain,28,91,91,ACTIVE,LW,175cm,68kg,Right,2017-08-03,13200000,270000,5,5

In [305]:
player_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              18979 non-null  int64
 1   Name            18979 non-null  object
 2   Nationality     18979 non-null  object
 3   Club            18979 non-null  object
 4   Age             18979 non-null  int64
 5   OVA             18979 non-null  int64
 6   Potential       18979 non-null  int64
 7   Contract        18979 non-null  object
 8   Best Position   18979 non-null  object
 9   Height          18979 non-null  object
 10  Weight          18979 non-null  object
 11  Preferred Foot  18979 non-null  object
 12  Joined          18979 non-null  datetime64[ns]
 13  Value €         18979 non-null  int64
 14  Wage €          18979 non-null  int64
 15  Weak Foot       18979 non-null  object
 16  Skill Move      18979 non-null  object
dtypes: datetime64[ns](1), int64(6), object(10)
memory usage: 2.5+ MB

In [306]:
player_details['Weak Foot'] = player_details['Weak Foot'].astype('int64')

In [307]:
player_details['Skill Move'] = player_details['Skill Move'].astype('int64')

In [308]:
player_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              18979 non-null  int64
 1   Name            18979 non-null  object
 2   Nationality     18979 non-null  object
 3   Club            18979 non-null  object
 4   Age             18979 non-null  int64
 5   OVA             18979 non-null  int64
 6   Potential       18979 non-null  int64
 7   Contract        18979 non-null  object
 8   Best Position   18979 non-null  object
 9   Height          18979 non-null  object
 10  Weight          18979 non-null  object
 11  Preferred Foot  18979 non-null  object
 12  Joined          18979 non-null  datetime64[ns]
 13  Value €         18979 non-null  int64
 14  Wage €          18979 non-null  int64
 15  Weak Foot       18979 non-null  int64
 16  Skill Move      18979 non-null  int64
dtypes: datetime64[ns](1), int64(8), object(8)
memory usage: 2.5+ MB

In [309]:
player_abilities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 45 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                18979 non-null  int64
 1   Ball Control      18979 non-null  int64
 2   Dribbling         18979 non-null  int64
 3   Acceleration      18979 non-null  int64
 4   Stamina           18979 non-null  int64
 5   Strength          18979 non-null  int64
 6   Balance           18979 non-null  int64
 7   Sprint Speed      18979 non-null  int64
 8   Agility           18979 non-null  int64
 9   Jumping           18979 non-null  int64
 10  Marking           18979 non-null  int64
 11  Sliding Tackle    18979 non-null  int64
 12  Standing Tackle   18979 non-null  int64
 13  Defending         18979 non-null  int64
 14  Goalkeeping       18979 non-null  int64
 15  GK Diving         18979 non-null  int64
 16  GK Handling       18979 non-null  int64
 17  GK Kicking        18979 non-null  int64
 18  GK Positioning    18979 non-null  int64
 19  GK Reflexes       18979 non-null  int64
 20  Aggression        18979 non-null  int64
 21  Reactions         18979 non-null  int64
 22  Positioning       18979 non-null  int64
 23  Vision            18979 non-null  int64
 24  Interceptions     18979 non-null  int64
 25  Composure         18979 non-null  int64
 26  Jumping           18979 non-null  int64
 27  Heading Accuracy  18979 non-null  int64
 28  Shot Power        18979 non-null  int64
 29  Finishing         18979 non-null  int64
 30  Long Shots        18979 non-null  int64
 31  Curve             18979 non-null  int64
 32  FK Accuracy       18979 non-null  int64
 33  Penalties         18979 non-null  int64
 34  Volleys           18979 non-null  int64
 35  Crossing          18979 non-null  int64
 36  Short Passing     18979 non-null  int64
 37  Long Passing      18979 non-null  int64
 38  PAC               18979 non-null  int64
 39  SHO               18979 non-null  int64
 40  PAS               18979 non-null  int64
 41  DRI               18979 non-null  int64
 42  DEF               18979 non-null  int64
 43  PHY               18979 non-null  int64
 44  Shots             18979 non-null  int64
dtypes: int64(45)
memory usage: 6.5 MB

In [314]:
player_abilities.to_csv('player_abilities.csv',index=False)

In [315]:
player_details.to_csv('player_details.csv',index=False)